<section class="section__container client_container">
  <h2 class="section_header"> Loved By Over Thousand Hotels home</h2>
  <p class="section_description">
    Discover the storrie of wanderlust and cherished memories thought eyes of ours valued clients.
  </p>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="clinet_card">
          <div class="client-content">
            <div class="client_rating">
              <span> <i class='bx bxs-star'></i></span>
              <span> <i class='bx bxs-star'></i></span>
              <span> <i class='bx bxs-star'></i></span>
              <span> <i class='bx bxs-star'></i></span>
              <span> <i class='bx bxs-star'></i></span>
            </div>
            <p>
              Skywings has completely transformed my travel experience findif hiddent
              gems in bustling cities to discovering retreats off the beaten path, every
              detaitls was thoughs arrangd .I can't recommend Skywings enough for anymore to
              elevete their travel experience !
            </p>
          </div>
          <div class="client_details">
            <img src="image/client1.jpg" alt="client">
            <div>
              <h4>john Adams</h4>
              <h5>Client</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="clinet_card">
          <div class="client-content">
            <div class="client_rating">
              <span> <i class='bx bxs-star'></i></span>
              <span> <i class='bx bxs-star'></i></span>
              <span> <i class='bx bxs-star'></i></span>
              <span> <i class='bx bxs-star'></i></span>
              <span> <i class='bx bxs-star'></i></span>
            </div>
            <p>
              Skywings has completely transformed my travel experience findif hiddent
              gems in bustling cities to discovering retreats off the beaten path, every
              detaitls was thoughs arrangd .I can't recommend Skywings enough for anymore to
              elevete their travel experience !
            </p>
          </div>
          <div class="client_details">
            <img src="image/client2.jpg" alt="client">
            <div>
              <h4>john Adams</h4>
              <h5>Client</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="clinet_card">
          <div class="client-content">
            <div class="client_rating">
              <span> <i class='bx bxs-star'></i></span>
              <span> <i class='bx bxs-star'></i></span>
              <span> <i class='bx bxs-star'></i></span>
              <span> <i class='bx bxs-star'></i></span>
              <span> <i class='bx bxs-star'></i></span>
            </div>
            <p>
              Skywings has completely transformed my travel experience findif hiddent
              gems in bustling cities to discovering retreats off the beaten path, every
              detaitls was thoughs arrangd .I can't recommend Skywings enough for anymore to
              elevete their travel experience !
            </p>
          </div>
          <div class="client_details">
            <img src="image/client3.jpg" alt="client">
            <div>
              <h4>john Adams</h4>
              <h5>Client</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="clinet_card">
          <div class="client-content">
            <div class="client_rating">
              <span> <i class='bx bxs-star'></i></span>
              <span> <i class='bx bxs-star'></i></span>
              <span> <i class='bx bxs-star'></i></span>
              <span> <i class='bx bxs-star'></i></span>
              <span> <i class='bx bxs-star'></i></span>
            </div>
            <p>
              Skywings has completely transformed my travel experience findif hiddent
              gems in bustling cities to discovering retreats off the beaten path, every
              detaitls was thoughs arrangd .I can't recommend Skywings enough for anymore to
              elevete their travel experience !
            </p>
          </div>
          <div class="client_details">
            <img src="image/client4.jpg" alt="client">
            <div>
              <h4>john Adams</h4>
              <h5>Client</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="map top">
  <h2 class="section_header"> LOCALISATION</h2>
  <p class="section_description">
    Discover the storrie of wanderlust and cherished memories thought eyes of ours valued clients.
  </p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14131.036667732067!2d85.32395955!3d27.69383745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snp!4v1637755481449!5m2!1sen!2snp" width="100%" height="450" style="border:0;"
          allowfullscreen="" loading="lazy"></iframe>
</section>
