<div class="sidebar-container">
  <span class="material-icons" id="btn" *ngIf="!sidebarOpen" (click)="toggleSidebar()">menu</span>
  <span class="material-icons" id="cancel" *ngIf="sidebarOpen" (click)="toggleSidebar()">close</span>

  <div class="sidebar" [ngClass]="{'active': sidebarOpen}">
    <header>DANP HOTEL</header>
    <ul>
      <li><a routerLink="/Homepage" routerLinkActive="active-link"><span class="material-icons">home</span>Home</a></li>
      <li><a routerLink="/Chamber" routerLinkActive="active-link"><span class="material-icons">hotel</span>Chamber</a></li>
      <li><a routerLink="/Services" routerLinkActive="active-link"><span class="material-icons">room_service</span>Service</a></li>
      <li><a routerLink="/Reservation" routerLinkActive="active-link"><span class="material-icons">event</span>Reservation</a></li>
      <li><a routerLink="/About" routerLinkActive="active-link"><span class="material-icons">info</span>About Us</a></li>
      <li><a routerLink="/Contact" routerLinkActive="active-link"><span class="material-icons">contact_mail</span>Contact</a></li>
      <li><a routerLink="/Profile" routerLinkActive="active-link"><span class="material-icons">person</span>Profile</a></li>
    </ul>
  </div>

  <div class="content-blur" *ngIf="sidebarOpen" (click)="toggleSidebar()"></div>
</div>
