<div class="section__container destination__container">
  <h2 class="section_header"> NOS DIFFERNET SERVICE</h2>
  <p class="section_description">
    Discover the most loved Destionations Around the WORd
  </p>
</div>

<div id="image-track">
  <img class="image" src="image/imgchambre1.jpg" alt="Chambre 1" draggable="false" />
  <img class="image" src="image/imgchambre2.jpg" alt="Chambre 2" draggable="false" />
  <img class="image" src="image/imgchambre3.jpg" alt="Chambre 3" draggable="false" />
  <img class="image" src="image/imgchambre4.jpg" alt="Chambre 4" draggable="false" />
  <img class="image" src="image/imgchambre5.jpg" alt="Chambre 5" draggable="false" />
  <img class="image" src="image/imgchambre6.jpg" alt="Chambre 6" draggable="false" />
  <img class="image" src="image/imgchambre7.jpg" alt="Chambre 7" draggable="false" />
</div>
