<section class="section__container destination__container" id="about">
  <h2 class="section_header"> NOS DIFFERNET SERVICE</h2>
  <p class="section_description">
    Discover the most loved Destionations Around the WORd
  </p>
  <div class="container_grid">
    <div class="container_card">
      <img src="image/img88d.jpg" alt="bar">
      <div class="hotel_details_exp">
        <div>
          <h4> Tradition and Futurism</h4>
          <p> New York City, USA</p>
        </div>
        <div class="destination-rating">
          <span><i class="ri-star-fill"></i></span>
          Voir +
        </div>
      </div>
    </div>
    <div class="container_card">
      <img src="image/img5.jpg" alt="bar">
      <div class="hotel_details_exp">
        <div>
          <h4> Tradition and Futurism</h4>
          <p> New York City, USA</p>
        </div>
        <div class="destination-rating">
          <span><i class="ri-star-fill"></i></span>
          Voir +
        </div>
      </div>
    </div>
    <div class="container_card">
      <img src="image/img8dsd.jpg" alt="bar">
      <div class="hotel_details_exp">
        <div>
          <h4> Tradition and Futurism</h4>
          <p> New York City, USA</p>
        </div>
        <div class="destination-rating">
          <span><i class="ri-star-fill"></i></span>
          Voir +
        </div>
      </div>
    </div>
  </div>
</section>
<h2 class="section_header"> Loved By Over Thousand Hotels home</h2>
<section class="wrapper top">
  <div class="contary">
    <div class="text">
      <h2>Our Amenities</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

      <div class="contentent">
        <div class="box flex">
          <i class="fas fa-swimming-pool"></i>
          <span>Swimming pool</span>
        </div>
        <div class="box flex">
          <i class="fas fa-dumbbell"></i>
          <span>Gym & yogo</span>
        </div>
        <div class="box flex">
          <i class="fas fa-spa"></i>
          <span>Spa & massage</span>
        </div>
        <div class="box flex">
          <i class="fas fa-ship"></i>
          <span>Boat Tours</span>
        </div>
        <div class="box flex">
          <i class="fas fa-swimmer"></i>
          <span>Surfing Lessons</span>
        </div>
        <div class="box flex">
          <i class="fas fa-microphone"></i>
          <span>Conference room</span>
        </div>
        <div class="box flex">
          <i class="fas fa-water"></i>
          <span>Diving & smorking</span>
        </div>
        <div class="box flex">
          <i class="fas fa-umbrella-beach"></i>
          <span>Private Beach</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section__container journey__container" id="tour">
  <h2 class="section_header"> JOurney to the Sky Made Simple!</h2>
  <p class="section_description">Efforless Planning for you Next Adventure</p>
  <div class="journey_grid">
    <div class="journey_card">
      <div class="journey_card_bg">
        <span><i class='bx bxs-building-house'></i></span>
        <h4>Seamless Booking Process</h4>
      </div>
      <div class="journey_card_content">
        <span><i class='bx bxs-credit-card-alt'></i></span>
        <h4>Easy Resevation, One Click away</h4>
        <p>
          From Flights and accomodations to activities and transfert<br />
          everything you need is available at your fingertips, makings<br />
          plannubg effortless.
        </p>
      </div>
    </div>
    <div class="journey_card">
      <div class="journey_card_bg">
        <span><i class='bx bxs-bowl-hot'></i></span>
        <h4>Seamless Booking Process</h4>
      </div>
      <div class="journey_card_content">
        <span><i class='bx bxs-wine'></i></span>
        <h4>Easy Resevation, One Click away</h4>
        <p>
          From Flights and accomodations to activities and transfert<br />
          everything you need is available at your fingertips, makings<br />
          plannubg effortless.
        </p>
      </div>
    </div>
    <div class="journey_card">
      <div class="journey_card_bg">
        <span><i class='bx bxs-bed' ></i></span>
        <h4>Seamless Booking Process</h4>
      </div>
      <div class="journey_card_content">
        <span><i class='bx bx-phone'></i></span>
        <h4>Easy Resevation, One Click away</h4>
        <p>
          From Flights and accomodations to activities and transfert<br />
          everything you need is available at your fingertips, makings<br />
          plannubg effortless.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section__container showcase_container" id="package">
  <div class="showcase_image">
    <img src="image/piscine.jpg">
  </div>
  <div class="showcase_content">
    <h4>UNLEASH WANDERLUST WITH SKYWINGS</h4>
    <p>
      Bienvenue dans un monde de luxe inégalé et de raffinement absolu.
      Notre hôtel 5 étoiles incarne l'élégance et le confort dans ses moindres détails, offrant à chaque visiteur une expérience unique et mémorable.
      Niché dans un cadre pittoresque, l'hôtel allie architecture contemporaine et tradition pour créer un sanctuaire de sérénité au cœur de la ville.
      Chacune de nos chambres spacieuses est conçue pour offrir un havre de paix, avec des équipements modernes, un mobilier somptueux et des vues imprenables sur les environs.
      Que ce soit pour un séjour d'affaires ou de loisirs, notre personnel dévoué se consacre à répondre à tous vos besoins, en offrant un service personnalisé et discret.

    </p>
    <p>
      Situé au cœur d'un cadre enchanteur, notre hôtel 5 étoiles allie luxe, confort et élégance pour offrir une expérience inoubliable à ses hôtes.
      Chacune de nos chambres spacieuses est dotée d'équipements modernes, d'une décoration raffinée, et de vues imprenables sur des paysages magnifiques. Profitez de notre restaurant gastronomique,
      de notre spa exclusif,
      et de nos services personnalisés qui répondent aux moindres désirs de nos clients. Que vous soyez ici pour un séjour de détente ou un voyage d'affaires,
      notre hôtel est le refuge idéal où chaque détail est pensé pour votre satisfaction absolue.
    </p>
    <div class="showcase_btn">
      <button class="btn">
        Book A Hotel Now
        <span><i class="ri-arrow-right-line"></i> </span>
      </button>
    </div>
  </div>
</section>
<section class="section__container banner_container">
  <div class="banner_card">
    <h4>10+</h4>
    <p>Years Experience</p>
  </div>
  <div class="banner_card">
    <h4>12k</h4>
    <p>happy Clinets</p>
  </div>
  <div class="banner_card">
    <h4> 4.7</h4>
    <p>Overall Rattings</p>
  </div>
</section>
<section class="about top" >
  <div class="contary flex">
    <div class="left">
      <div class="img">
        <img src="image/img88d.jpg" alt="" class="image1">
        <img src="image/45.jpg" alt="" class="image2">
      </div>
    </div>
    <div class="right">
      <div class="heading">
        <h5 class="section_header">RAISING COMFOMRT TO THE HIGHEST LEVEL</h5>
        <h2 class="section_description">Welcome to Luviana Hotel Resort</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <button class="btn">READ MORE</button>
      </div>
    </div>
  </div>
</section>
<section class="section__container discover_container">
  <h2 class="section_header"> Discover THe workd From Above</h2>
  <p class="section_description">
    Experience Breathtaking Views and Unique Perspectives
  </p>
  <div class="discover_grid">
    <div class="discover_card">
      <span> <i class='bx bx-calendar-plus'></i></span>
      <h4> Coastal Wonders</h4>
      <p>
        Fly over pristine coastlines and turquoises waters, revaales coves and vibrant coral reefs.
      </p>
    </div>
    <div class="discover_card">
      <span><i class='bx bx-phone'></i></span>
      <h4> Coastal Wonders</h4>
      <p>
        Fly over pristine coastlines and turquoises waters, revaales coves and vibrant coral reefs.
      </p>
    </div>
    <div class="discover_card">
      <span> <i class='bx bxs-bell-ring'></i></span>
      <h4> Coastal Wonders</h4>
      <p>
        Fly over pristine coastlines and turquoises waters, revaales coves and vibrant coral reefs.
      </p>
    </div>
  </div>
</section>

<div class="background  showcase_content">
  <div class="content">
    <h4 > NOS RETOURS </h4>
    <p>Fly over pristine coastlines and turquoises waters, revaales coves and vibrant coral reefs.
      Situé au cœur d'un cadre enchanteur, notre hôtel 5 étoiles allie luxe, confort et élégance pour offrir une expérience inoubliable à ses hôtes.
      Chacune de nos chambres spacieuses est dotée d'équipements modernes, d'une décoration raffinée, et de vues imprenables sur des paysages magnifiques. Profitez de notre restaurant gastronomique,
      de notre spa exclusif,
      et de nos services personnalisés qui répondent aux moindres désirs de nos clients. Que vous soyez ici pour un séjour de détente ou un voyage d'affaires,
      notre hôtel est le refuge idéal où chaque détail est pensé pour votre satisfaction absolue.
    </p>
  </div>
  <div class="buton">
    <a href="#"> Read More</a>
  </div>
</div>
